[Unit]
Description=Gunicorn instance to serve my transform server
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/TRX/
ExecStart=gunicorn --bind=0.0.0.0:8080 --threads=25 --workers=2 project:app

[Install]
WantedBy=multi-user.target